<html>
<body>
<pre>
#*
块注释
Hello,你看不到我耶！
*#
亲爱的${toUserName}，你好！

    $!{message}  ##如果不存在，强制为空
    colors:$!{colors}
    #foreach($color in $colors)
        This is Color:$color
    #end
    #foreach($kv in $map.entrySet())
    User: $kv.key, value:$kv.value.toString()
    #end

    user -- $!{user.toString()}
    user.name: $!{user.name}
    user.age: $!{user.age}
    user.country: $!{user.country}

    #set($title="nowcoder")
    Title: $!{title}
    #set($hello="hello")
    #set($helloworld1="$!{hello}  world")
    helloworld1: $!{helloworld1}
    #set($helloworld2='$!{hello}  world')
    helloworld2: $!{helloworld2}
祝：开心！
    ${fromUserName} ##如果不存在，解析为文本。
    $!{time}
</pre>
</body>
</html>